/* RESET DEFAULTS */
* {
	box-sizing: content-box;
}
html {
	font-size: 100%;
}
body{
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
#body {
    height: auto;
    line-height: 1.5;
}
a {
    text-decoration: none;
    line-height: 2rem;
}

/* MAIN CSS */

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    height: 3rem;
}
.logo {
    align-self: flex-start;
    color: rgb(211, 108, 143);
    font-weight: bold;
    font-size: 110%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigation_menu {
    display: none;
    align-self: flex-start;
    font-size: 110%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav_complete {
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.nav {
    display: flex;
    flex-direction: row;
}
.nav_with_pp {
    display: flex;
    flex-direction: row;
}
.nav_menu {
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
}
.link {
    font-size: 90%;
    padding-top: 1.2rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.link:hover {
    font-weight: bold;
}
.icon {
    display: none;
    padding-right: 1rem;
}
.size {
    font-size: 120%;
}
.menu_nav {
    z-index: 1000;
    background-color: rgb(235, 235, 235);
    width: 10rem;
    border-radius: 0 0 .6rem .6rem;
}
.hidden {
    display: none;
}
.menu_link {
    font-size: 90%;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.menu_link:hover {
    font-weight: bold;
}
.active{
    font-weight: bold;
}
.pp {
    font-size: 140%;
    padding-right: 1rem;
}
/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 90%;
    background-color: rgb(160, 160, 160);
    color: white;
    padding-top: 3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 3rem;
}
.footer_nav {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.logo_footer {
    font-weight: bold;
    padding-right: 5rem;
}
.footer_nav_collum {
    padding-right: 3rem;
}
.footer_link {
    padding-bottom: .3rem;
}
.sub_to_newsletter {
    display: flex;
    flex-direction: column;
    font-size: 120%;
    color: rgb(255, 255, 255);
}
.email_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid rgb(177, 177, 177);
    border-radius: .6rem;
    padding: .4rem;
}
.email {
    box-sizing: border-box;
    border: 1px solid rgb(160, 160, 160);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgb(160, 160, 160);
}
.email_send {
    padding-right: .4rem;
    padding-left: .4rem;
    color: white;
}
.email_input {
    width: 140%;
}
input[type=email] {
    background-color: rgb(160, 160, 160);
    color: white;
    width: 100%;
}
.stnl_text {
    font-size: 80%;
}
.socialmedia {
    font-size: 160%;
    display: flex;
    flex-direction: row;
}
.socialmedia_link {
    padding-left: 2.5rem;
}
.menu_vh {
    height: 100vh;
}
.close_menu {
	font-style: normal;
	color: transparent;  
    text-shadow: 0 0 0 black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.noneDisplay {
    display: none;
}
/* POST TITLE */

.article_header {
    height: 30%;
    background-image: url("img/forrest_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 2rem;
}
.article_title {
    font-size: 300%;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-top: 20rem;
}
.article_links {
    display: flex;
    flex-direction: row;
}
.worldnews {
    padding-left: 5rem;
}
.maker_next {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 8rem;
    padding-bottom: 1.6rem;
}
.maker {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-top: 10rem;
}
.maker_name {
    padding-top: .1rem;
    padding-left: .3rem;
}
.next_story {
    align-self: flex-end;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B5B5B5FF' stroke-width='4' stroke-dasharray='4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 1rem;
    width: 20rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.next_story_title {
    font-size: 105%;
    color: rgb(211, 108, 143);;
}
.next_story_subtitle {
    font-weight: bold;
}

/* POST CONTENT */

.post_content {
    display: flex;
    flex-direction: row;
    padding: 6rem;

}
.post_left {
    width: 80vw;
    min-width: 20rem;
    padding-right: 3rem;
    border-right: solid lightgray 1px;
}
.post_title {
    font-size: 180%;
    font-weight: bold;
    padding-bottom: 1rem;
}
.post_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding-left: 3rem;
}
.content_text {
    color: gray;
}
.post_video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 52.63%; /* 9/16 = 0.5625 */
}
#video_comment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .6rem;
}
.time_past{
    display: flex;
    flex-direction: row;
    font-size: 95%;
    color: rgb(173, 173, 173);
    padding-top: .6rem;
}
.comment_creator {
    font-size: 120%;
    font-weight: bold;
    /* padding-bottom: .6rem; */
}
.comment {
    padding-bottom: 1rem;
}
.comment_content {
    font-style: italic;
    text-align: justify;
}
.post_subtitle {
    font-weight: bold;
}

@media screen and (max-width: 667px) {
    #body{
        font-weight: 300;
        margin: 0;
        padding: 0;   
        display: flex;
        flex-direction: column;
        height: auto;
        line-height: 1.4;
        background-color: rgb(235, 235, 235);
    }
    .header {
        height: 3.5em;
        min-height: 3.5em;
    }
    .navigation_menu {
        display: unset;
    }
    .footer_mobile {
        display: none;
    }
    .nav {
        display: none;
    }
    .image{
        padding-top: .8rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .footer_open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 90%;
        background-color: rgb(160, 160, 160);
        color: white;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        height: auto;
        min-height: 20rem;
        width: 100%;
    }
    .sub_to_newsletter {
        display: none;
    }
    .collum1 {
        display: none;
    }
    .footer_logo {
        display: none;
    }
    .footer_nav_collum {
        padding-right: 0;
    }
    .footer_nav {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
    }
    .socialmedia {
        width: 60%;
        font-size: 160%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }
    .socialmedia_link {
        padding-left: 0;
    }
    .collum_logo {
        display: none;
    }
    .footer_link {
        font-size: 120%;
        line-height: 200%;
    }
    .nav_complete {
        display: flex;
        flex-direction: column;
        line-height: 1;
    }
    .nav_with_pp {
        display: flex;
        flex-direction: column;
    }
    .header_mobile {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: space-evenly;
        padding-left: 15%;
        background-color: rgb(235, 235, 235);
        height: 24rem;
        width: 85%;
        font-size: 120%;
        flex: 1;
    }
    
    /* INDIVIDUEL */

    .post_content {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    
    }
    .post_left {
        width: auto;
        min-width: 10rem;
        padding-right: 0;
        border-right: hidden;
        border-bottom: solid lightgray 1px;
        padding-bottom: 2rem;
    }
    .post_title {
        font-size: 180%;
        font-weight: bold;
        padding-bottom: 1rem;
    }
    .post_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        padding-left: 0;
        padding-top: 2rem;
    }
    .content_text {
        color: gray;
        text-align: justify;
    }
    .post_video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 52.63%; /* 9/16 = 0.5625 */
    }
    #video_comment {
        border-radius: 0;
    }

    .article_title {
        font-size: 160%;
        text-align: center;
        font-weight: bold;
        padding-bottom: 1rem;
        margin-top: 6rem;
    }
    .article_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 80%;
    }
    .worldnews {
        padding-left: 4rem;
    }
    .maker_next {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-top: 2rem;
        padding-bottom: 1.6rem;
    }
    .maker {
        font-size: 175%;
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-top: 0;
    }
    .maker_name {
        padding-top: .1rem;
        padding-left: .3rem;
    }
    .next_story {
        align-self: flex-end;
        background-image: none;
        border-radius: 0;
        width: auto;
        padding: 0;
        margin-bottom: 0;
    }
    .next_story_title {
        font-size: 100%;
        color: rgb(211, 108, 143);
        font-weight: bold;
    }
    .next_story_subtitle {
        font-weight: bold;
    }
    .mobile_hidden {
        display: none;
    }

}